$primary_text: #E4E6EB;
$secondary_text: #B0B3B8;
$background: #18191A;
$header_bg: #242526;
$tool_bg: #3A3B3C;
$hover_color: #303031;
$icon_color: #2D88FF;
$notify: #F23E5C;
$scrollbar: #636364;
$online: #31A24C;